/*======================
    404 page
=======================*/
body {
    --text-color: #000000ca;
    --main-color: #624dcf;
    --secoundry-color: #3ecbff;
    --pink-color: #fd96e6;
    --bg-color: #fff;
    --light-text-color: #9ca7b6;
    --main-color-hover: #725aeb;
    --input-bg: #e9e6fb;
    --input-bg-hover: #d7d5e8;
    --input-text: #9e8fea;
    --nav-bg: #ffffff00;
    --input-shadow: #0700155a;
  }
  .darkk {
    --text-color: #fff;
    --bg-color: #190b47;
    --input-bg: #281870;
    --input-bg-hover: #3b228c;
    --light-text-color: #cad4e2;
    --input-shadow: #9058ff;
  }


body {
  margin: 0;
  padding: 0;
}

.page_404 {
  padding: 40px 0;
  background:#fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: var(--main-color) !important;
  border-radius: 40px !important;
  margin: 20px 0;
  display: inline-block;
}
.link_404 :hover{
    background: var(--main-color-hover) !important;
}
.contant_box_404 {
  margin-top: -50px;
}
