.form{
    width: 500px;
    height: 50vh;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.795);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 170px;
    right: 400px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.534) 0px 5px 15px;

    background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
}
.color_change_2x{
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
    height: 100vh;
    border-radius: 8px;
    width: 50%;
    position: relative;
    left: 500px;
}
@-webkit-keyframes color-change-2x {
0% {
background: #C1EAFA;
}
100% {
background: #735BF3;
}
}
@keyframes color-change-2x {
0% {
background: #19dcea;
}
100% {
background: #b22cff;
}
}
.register{
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.616);
}
.inp{
    padding: 10px;
    width: 80%;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.btn{
    width: 100px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    height: 35px;
    text-align:center;
    border: none;
    border-radius: 50px;
    background-color:#735bf3;
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    transition: transform  0.4s ease; 
}
.divs{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}